{% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/bootstrap.css'%}"
/>

<html>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Home</a>
        <div class="d-grid gap-2 d-md-block">
            <button type="button" class="btn btn-danger">home</button>
            <button type="button" class="btn btn-danger">Order Menu</button>
            <button type="button" class="btn btn-danger">About us</button>
        </div>
    </nav>
    <!-- Example single danger button -->
<div class="p-5 mb-4 bg-primary text-white">.bg-primary</div>
<div class="p-5 mb-4 bg-secondary text-white">.bg-secondary</div>
</body>
</html>
